In [179]:
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
!wget -q http://archive.apache.org/dist/spark/spark-3.1.1/spark-3.1.1-bin-hadoop3.2.tgz
!tar xf spark-3.1.1-bin-hadoop3.2.tgz
!pip install -q findspark

In [180]:
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-3.1.1-bin-hadoop3.2"

!ls

drive			       spark-3.1.1-bin-hadoop3.2.tgz.1	spark-3.1.1-bin-hadoop3.2.tgz.5
sample_data		       spark-3.1.1-bin-hadoop3.2.tgz.2	weatherAUS.csv
spark-3.1.1-bin-hadoop3.2      spark-3.1.1-bin-hadoop3.2.tgz.3
spark-3.1.1-bin-hadoop3.2.tgz  spark-3.1.1-bin-hadoop3.2.tgz.4

In [181]:
!pip install -q pyspark
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [182]:
import findspark
findspark.init()
from pyspark.sql import SparkSession
spark = SparkSession.builder.master("local[*]").getOrCreate()
spark.conf.set("spark.sql.repl.eagerEval.enabled", True) # Property used to format output tables better
spark

In [183]:
# Import necessary libraries
from pyspark.sql import SparkSession
from pyspark.ml.feature import OneHotEncoder, StringIndexer
from pyspark.ml import Pipeline
from pyspark.ml.feature import VectorAssembler
from pyspark.ml.classification import LogisticRegression
from pyspark.ml.evaluation import BinaryClassificationEvaluator
from pyspark.sql.functions import year, month, dayofmonth
from pyspark.ml.feature import Imputer
from pyspark.ml.feature import StandardScaler
from pyspark.sql.functions import col
from pyspark.sql.functions import isnan, when, count, col

In [184]:
# Create a Spark session
spark = SparkSession.builder.appName("RainPrediction").getOrCreate()

In [185]:
# Load the dataset
df_weather = spark.read.csv("/content/drive/MyDrive/weatherAUS.csv", header=True, inferSchema=True)

In [186]:
df_weather

+----------+--------+-------+-------+--------+-----------+--------+-----------+-------------+----------+----------+------------+------------+-----------+-----------+-----------+-----------+--------+--------+-------+-------+---------+-------+------------+
|      Date|Location|MinTemp|MaxTemp|Rainfall|Evaporation|Sunshine|WindGustDir|WindGustSpeed|WindDir9am|WindDir3pm|WindSpeed9am|WindSpeed3pm|Humidity9am|Humidity3pm|Pressure9am|Pressure3pm|Cloud9am|Cloud3pm|Temp9am|Temp3pm|RainToday|RISK_MM|RainTomorrow|
+----------+--------+-------+-------+--------+-----------+--------+-----------+-------------+----------+----------+------------+------------+-----------+-----------+-----------+-----------+--------+--------+-------+-------+---------+-------+------------+
|2008-12-01|  Albury|   13.4|   22.9|     0.6|         NA|      NA|          W|           44|         W|       WNW|          20|          24|         71|         22|     1007.7|     1007.1|       8|      NA|   16.9|   21.8|       No|    0.0|          No|
|2008-12-02|  Albury|    7.4|   25.1|       0|         NA|      NA|        WNW|           44|       NNW|       WSW|           4|          22|         44|         25|     1010.6|     1007.8|      NA|      NA|   17.2|   24.3|       No|    0.0|          No|
|2008-12-03|  Albury|   12.9|   25.7|       0|         NA|      NA|        WSW|           46|         W|       WSW|          19|          26|         38|         30|     1007.6|     1008.7|      NA|       2|     21|   23.2|       No|    0.0|          No|
|2008-12-04|  Albury|    9.2|     28|       0|         NA|      NA|         NE|           24|        SE|         E|          11|           9|         45|         16|     1017.6|     1012.8|      NA|      NA|   18.1|   26.5|       No|    1.0|          No|
|2008-12-05|  Albury|   17.5|   32.3|       1|         NA|      NA|          W|           41|       ENE|        NW|           7|          20|         82|         33|     1010.8|       1006|       7|       8|   17.8|   29.7|       No|    0.2|          No|
|2008-12-06|  Albury|   14.6|   29.7|     0.2|         NA|      NA|        WNW|           56|         W|         W|          19|          24|         55|         23|     1009.2|     1005.4|      NA|      NA|   20.6|   28.9|       No|    0.0|          No|
|2008-12-07|  Albury|   14.3|     25|       0|         NA|      NA|          W|           50|        SW|         W|          20|          24|         49|         19|     1009.6|     1008.2|       1|      NA|   18.1|   24.6|       No|    0.0|          No|
|2008-12-08|  Albury|    7.7|   26.7|       0|         NA|      NA|          W|           35|       SSE|         W|           6|          17|         48|         19|     1013.4|     1010.1|      NA|      NA|   16.3|   25.5|       No|    0.0|          No|
|2008-12-09|  Albury|    9.7|   31.9|       0|         NA|      NA|        NNW|           80|        SE|        NW|           7|          28|         42|          9|     1008.9|     1003.6|      NA|      NA|   18.3|   30.2|       No|    1.4|         Yes|
|2008-12-10|  Albury|   13.1|   30.1|     1.4|         NA|      NA|          W|           28|         S|       SSE|          15|          11|         58|         27|       1007|     1005.7|      NA|      NA|   20.1|   28.2|      Yes|    0.0|          No|
|2008-12-11|  Albury|   13.4|   30.4|       0|         NA|      NA|          N|           30|       SSE|       ESE|          17|           6|         48|         22|     1011.8|     1008.7|      NA|      NA|   20.4|   28.8|       No|    2.2|         Yes|
|2008-12-12|  Albury|   15.9|   21.7|     2.2|         NA|      NA|        NNE|           31|        NE|       ENE|          15|          13|         89|         91|     1010.5|     1004.2|       8|       8|   15.9|     17|      Yes|   15.6|         Yes|
|2008-12-13|  Albury|   15.9|   18.6|    15.6|         NA|      NA|          W|           61|       NNW|       NNW|          28|          28|         76|         93|      994.3|        993|       8|       8|   17.4|   15.8|      Yes|    3.6|         Yes|
|2008-12-14|  Albury|   12.6|     21|     3.6|         NA|      NA|         SW|           44|         W|       SSW|          24|          20|         65|         43|     1001.2|     1001.8|      NA|       7|   15.8|   19.8|      Yes|    0.0|          No|
|2008-12-16|  Albury|    9.8|   27.7|      NA|         NA|      NA|        WNW|           50|        NA|       WNW|          NA|          22|         50|         28|     1013.4|     1010.3|       0|      NA|   17.3|   26.2|       NA|    0.0|          No|
|2008-12-17|  Albury|   14.1|   20.9|       0|         NA|      NA|        ENE|           22|       SSW|         E|          11|           9|         69|         82|     1012.2|     1010.4|       8|       1|   17.2|   18.1|       No|   16.8|         Yes|
|2008-12-18|  Albury|   13.5|   22.9|    16.8|         NA|      NA|          W|           63|         N|       WNW|           6|          20|         80|         65|     1005.8|     1002.2|       8|       1|     18|   21.5|      Yes|   10.6|         Yes|
|2008-12-19|  Albury|   11.2|   22.5|    10.6|         NA|      NA|        SSE|           43|       WSW|        SW|          24|          17|         47|         32|     1009.4|     1009.7|      NA|       2|   15.5|     21|      Yes|    0.0|          No|
|2008-12-20|  Albury|    9.8|   25.6|       0|         NA|      NA|        SSE|           26|        SE|       NNW|          17|           6|         45|         26|     1019.2|     1017.1|      NA|      NA|   15.8|   23.2|       No|    0.0|          No|
|2008-12-21|  Albury|   11.5|   29.3|       0|         NA|      NA|          S|           24|        SE|        SE|           9|           9|         56|         28|     1019.3|     1014.8|      NA|      NA|   19.1|   27.3|       No|    0.0|          No|
+----------+--------+-------+-------+--------+-----------+--------+-----------+-------------+----------+----------+------------+------------+-----------+-----------+-----------+-----------+--------+--------+-------+-------+---------+-------+------------+
only showing top 20 rows

In [187]:
# Display the schema of the DataFrame
df_weather.printSchema()

root
 |-- Date: string (nullable = true)
 |-- Location: string (nullable = true)
 |-- MinTemp: string (nullable = true)
 |-- MaxTemp: string (nullable = true)
 |-- Rainfall: string (nullable = true)
 |-- Evaporation: string (nullable = true)
 |-- Sunshine: string (nullable = true)
 |-- WindGustDir: string (nullable = true)
 |-- WindGustSpeed: string (nullable = true)
 |-- WindDir9am: string (nullable = true)
 |-- WindDir3pm: string (nullable = true)
 |-- WindSpeed9am: string (nullable = true)
 |-- WindSpeed3pm: string (nullable = true)
 |-- Humidity9am: string (nullable = true)
 |-- Humidity3pm: string (nullable = true)
 |-- Pressure9am: string (nullable = true)
 |-- Pressure3pm: string (nullable = true)
 |-- Cloud9am: string (nullable = true)
 |-- Cloud3pm: string (nullable = true)
 |-- Temp9am: string (nullable = true)
 |-- Temp3pm: string (nullable = true)
 |-- RainToday: string (nullable = true)
 |-- RISK_MM: double (nullable = true)
 |-- RainTomorrow: string (nullable = true)

In [188]:
# 1.Explore the dataset to find what are the categorical variables in the dataset. List categorical variable names

# Identify list of columns based on data types
list_of_columns = [col_name for col_name, data_type in df_weather.dtypes if data_type == 'string']

# Display the list of categorical variable names
print("list of columns:", list_of_columns )

list of columns: ['Date', 'Location', 'MinTemp', 'MaxTemp', 'Rainfall', 'Evaporation', 'Sunshine', 'WindGustDir', 'WindGustSpeed', 'WindDir9am', 'WindDir3pm', 'WindSpeed9am', 'WindSpeed3pm', 'Humidity9am', 'Humidity3pm', 'Pressure9am', 'Pressure3pm', 'Cloud9am', 'Cloud3pm', 'Temp9am', 'Temp3pm', 'RainToday', 'RainTomorrow']

In [189]:
from pyspark.sql.types import FloatType
# Columns to convert to numeric types
continuous_variables = ['MinTemp', 'MaxTemp', 'Rainfall', 'Evaporation', 'Sunshine', 'WindGustSpeed', 'WindSpeed9am', 'WindSpeed3pm',
                   'Humidity9am', 'Humidity3pm', 'Pressure9am', 'Pressure3pm', 'Cloud9am', 'Cloud3pm', 'Temp9am', 'Temp3pm', 'RISK_MM']

# Convert numeric columns to FloatType
for col in continuous_variables:
    df_weather = df_weather.withColumn(col, df_weather[col].cast(FloatType()))

# Get the names of all columns in the DataFrame
all_columns = df_weather.columns

# Get the names of string columns (columns not in numeric_columns)
categorical_variables= [col for col in all_columns if col not in continuous_variables]

# Display the updated schema
df_weather.printSchema()

# Display the list of numeric and string columns
print("continuous_variables:", continuous_variables)
print(" categorical_variables:", categorical_variables)

root
 |-- Date: string (nullable = true)
 |-- Location: string (nullable = true)
 |-- MinTemp: float (nullable = true)
 |-- MaxTemp: float (nullable = true)
 |-- Rainfall: float (nullable = true)
 |-- Evaporation: float (nullable = true)
 |-- Sunshine: float (nullable = true)
 |-- WindGustDir: string (nullable = true)
 |-- WindGustSpeed: float (nullable = true)
 |-- WindDir9am: string (nullable = true)
 |-- WindDir3pm: string (nullable = true)
 |-- WindSpeed9am: float (nullable = true)
 |-- WindSpeed3pm: float (nullable = true)
 |-- Humidity9am: float (nullable = true)
 |-- Humidity3pm: float (nullable = true)
 |-- Pressure9am: float (nullable = true)
 |-- Pressure3pm: float (nullable = true)
 |-- Cloud9am: float (nullable = true)
 |-- Cloud3pm: float (nullable = true)
 |-- Temp9am: float (nullable = true)
 |-- Temp3pm: float (nullable = true)
 |-- RainToday: string (nullable = true)
 |-- RISK_MM: float (nullable = true)
 |-- RainTomorrow: string (nullable = true)

continuous_variables: ['MinTemp', 'MaxTemp', 'Rainfall', 'Evaporation', 'Sunshine', 'WindGustSpeed', 'WindSpeed9am', 'WindSpeed3pm', 'Humidity9am', 'Humidity3pm', 'Pressure9am', 'Pressure3pm', 'Cloud9am', 'Cloud3pm', 'Temp9am', 'Temp3pm', 'RISK_MM']
 categorical_variables: ['Date', 'Location', 'WindGustDir', 'WindDir9am', 'WindDir3pm', 'RainToday', 'RainTomorrow']

In [190]:
# 2. Explore how many categorical variables have null values.

from pyspark.sql.functions import count, when, col
df_weather_na = df_weather.replace('NA', None)
null_counts = df_weather_na.select([count(when(col(c).isNull(), c)).alias(c) for c in categorical_variables])
columns_with_na = [col_name for col_name in categorical_variables if null_counts.select(col_name).head()[col_name] > 0]
num_categorical_na = len(columns_with_na)
print("Number of Categorical Variables with 'NA' Values:", num_categorical_na)

Number of Categorical Variables with 'NA' Values: 4

In [191]:
# 3. Get the frequency count of each categorical variable. For instance, how many discrete values in each categorical variable and how many datapoints from each distinct value

from pyspark.sql.functions import col, countDistinct
 # Loop through each categorical variable to get frequency counts
for col_name in categorical_variables:
    print(f"Frequency count for '{col_name}':")
    df_weather.groupBy(col_name).count().show()

    print(f"Number of discrete values for '{col_name}':")
    distinct_count =df_weather.select(countDistinct(col_name)).collect()[0][0]
    print(distinct_count)

Frequency count for 'Date':
+----------+-----+
|      Date|count|
+----------+-----+
|2008-12-03|   23|
|2009-01-04|   45|
|2009-06-23|   46|
|2009-12-04|   46|
|2010-02-12|   44|
|2010-09-24|   46|
|2011-01-29|   44|
|2013-03-14|   49|
|2014-02-16|   48|
|2014-02-22|   48|
|2014-05-27|   49|
|2014-12-13|   47|
|2015-05-01|   46|
|2016-08-17|   49|
|2017-05-14|   49|
|2008-04-20|    2|
|2008-10-26|    8|
|2008-11-19|    8|
|2010-03-06|   45|
|2012-03-04|   46|
+----------+-----+
only showing top 20 rows

Number of discrete values for 'Date':
3436
Frequency count for 'Location':
+-------------+-----+
|     Location|count|
+-------------+-----+
|       Cairns| 2988|
|NorfolkIsland| 2964|
|      Bendigo| 3034|
|      Walpole| 2819|
|     Canberra| 3418|
|      Woomera| 2990|
|     Adelaide| 3090|
|        Cobar| 2988|
|SydneyAirport| 3005|
| PerthAirport| 3009|
|   Wollongong| 2983|
|  Williamtown| 2553|
|        Moree| 2854|
|      Mildura| 3007|
|     Portland| 2996|
|       Albany| 3016|
|   SalmonGums| 2955|
|     Brisbane| 3161|
|       Sydney| 3337|
|        Perth| 3193|
+-------------+-----+
only showing top 20 rows

Number of discrete values for 'Location':
49
Frequency count for 'WindGustDir':
+-----------+-----+
|WindGustDir|count|
+-----------+-----+
|        SSE| 8993|
|         SW| 8797|
|         NW| 8003|
|         NA| 9330|
|          E| 9071|
|        WSW| 8901|
|        ENE| 7992|
|         NE| 7060|
|        NNW| 6561|
|          N| 9033|
|        SSW| 8610|
|          W| 9780|
|          S| 8949|
|         SE| 9309|
|        WNW| 8066|
|        NNE| 6433|
|        ESE| 7305|
+-----------+-----+

Number of discrete values for 'WindGustDir':
17
Frequency count for 'WindDir9am':
+----------+-----+
|WindDir9am|count|
+----------+-----+
|       SSE| 8966|
|        SW| 8237|
|        NW| 8552|
|        NA|10013|
|         E| 9024|
|       WSW| 6843|
|       ENE| 7735|
|        NE| 7527|
|       NNW| 7840|
|         N|11393|
|       SSW| 7448|
|         W| 8260|
|         S| 8493|
|        SE| 9162|
|       WNW| 7194|
|       NNE| 7948|
|       ESE| 7558|
+----------+-----+

Number of discrete values for 'WindDir9am':
17
Frequency count for 'WindDir3pm':
+----------+-----+
|WindDir3pm|count|
+----------+-----+
|       SSE| 9142|
|        NW| 8468|
|        SW| 9182|
|        NA| 3778|
|         E| 8342|
|       WSW| 9329|
|       ENE| 7724|
|        NE| 8164|
|       NNW| 7733|
|         N| 8667|
|       SSW| 8010|
|         W| 9911|
|         S| 9598|
|        SE|10663|
|       WNW| 8656|
|       NNE| 6444|
|       ESE| 8382|
+----------+-----+

Number of discrete values for 'WindDir3pm':
17
Frequency count for 'RainToday':
+---------+------+
|RainToday| count|
+---------+------+
|       NA|  1406|
|       No|109332|
|      Yes| 31455|
+---------+------+

Number of discrete values for 'RainToday':
3
Frequency count for 'RainTomorrow':
+------------+------+
|RainTomorrow| count|
+------------+------+
|          No|110316|
|         Yes| 31877|
+------------+------+

Number of discrete values for 'RainTomorrow':
2

In [194]:
# 4. Print the first five rows of the dataset.
# Load the dataset
df_weather = spark.read.csv("/content/drive/MyDrive/weatherAUS.csv", header=True, inferSchema=True)

# Display the first five rows of the DataFrame
df_weather.show(5)

+----------+--------+-------+-------+--------+-----------+--------+-----------+-------------+----------+----------+------------+------------+-----------+-----------+-----------+-----------+--------+--------+-------+-------+---------+-------+------------+
|      Date|Location|MinTemp|MaxTemp|Rainfall|Evaporation|Sunshine|WindGustDir|WindGustSpeed|WindDir9am|WindDir3pm|WindSpeed9am|WindSpeed3pm|Humidity9am|Humidity3pm|Pressure9am|Pressure3pm|Cloud9am|Cloud3pm|Temp9am|Temp3pm|RainToday|RISK_MM|RainTomorrow|
+----------+--------+-------+-------+--------+-----------+--------+-----------+-------------+----------+----------+------------+------------+-----------+-----------+-----------+-----------+--------+--------+-------+-------+---------+-------+------------+
|2008-12-01|  Albury|   13.4|   22.9|     0.6|         NA|      NA|          W|           44|         W|       WNW|          20|          24|         71|         22|     1007.7|     1007.1|       8|      NA|   16.9|   21.8|       No|    0.0|          No|
|2008-12-02|  Albury|    7.4|   25.1|       0|         NA|      NA|        WNW|           44|       NNW|       WSW|           4|          22|         44|         25|     1010.6|     1007.8|      NA|      NA|   17.2|   24.3|       No|    0.0|          No|
|2008-12-03|  Albury|   12.9|   25.7|       0|         NA|      NA|        WSW|           46|         W|       WSW|          19|          26|         38|         30|     1007.6|     1008.7|      NA|       2|     21|   23.2|       No|    0.0|          No|
|2008-12-04|  Albury|    9.2|     28|       0|         NA|      NA|         NE|           24|        SE|         E|          11|           9|         45|         16|     1017.6|     1012.8|      NA|      NA|   18.1|   26.5|       No|    1.0|          No|
|2008-12-05|  Albury|   17.5|   32.3|       1|         NA|      NA|          W|           41|       ENE|        NW|           7|          20|         82|         33|     1010.8|       1006|       7|       8|   17.8|   29.7|       No|    0.2|          No|
+----------+--------+-------+-------+--------+-----------+--------+-----------+-------------+----------+----------+------------+------------+-----------+-----------+-----------+-----------+--------+--------+-------+-------+---------+-------+------------+
only showing top 5 rows

In [195]:
# 5. What are the available columns of the dataset?

# Display available columns
print("Available columns:", df_weather.columns)

Available columns: ['Date', 'Location', 'MinTemp', 'MaxTemp', 'Rainfall', 'Evaporation', 'Sunshine', 'WindGustDir', 'WindGustSpeed', 'WindDir9am', 'WindDir3pm', 'WindSpeed9am', 'WindSpeed3pm', 'Humidity9am', 'Humidity3pm', 'Pressure9am', 'Pressure3pm', 'Cloud9am', 'Cloud3pm', 'Temp9am', 'Temp3pm', 'RainToday', 'RISK_MM', 'RainTomorrow']

In [196]:
6# Drop the 'RISK_MM' variable column
df_weather = df_weather.drop("RISK_MM")
df_weather.show()

+----------+--------+-------+-------+--------+-----------+--------+-----------+-------------+----------+----------+------------+------------+-----------+-----------+-----------+-----------+--------+--------+-------+-------+---------+------------+
|      Date|Location|MinTemp|MaxTemp|Rainfall|Evaporation|Sunshine|WindGustDir|WindGustSpeed|WindDir9am|WindDir3pm|WindSpeed9am|WindSpeed3pm|Humidity9am|Humidity3pm|Pressure9am|Pressure3pm|Cloud9am|Cloud3pm|Temp9am|Temp3pm|RainToday|RainTomorrow|
+----------+--------+-------+-------+--------+-----------+--------+-----------+-------------+----------+----------+------------+------------+-----------+-----------+-----------+-----------+--------+--------+-------+-------+---------+------------+
|2008-12-01|  Albury|   13.4|   22.9|     0.6|         NA|      NA|          W|           44|         W|       WNW|          20|          24|         71|         22|     1007.7|     1007.1|       8|      NA|   16.9|   21.8|       No|          No|
|2008-12-02|  Albury|    7.4|   25.1|       0|         NA|      NA|        WNW|           44|       NNW|       WSW|           4|          22|         44|         25|     1010.6|     1007.8|      NA|      NA|   17.2|   24.3|       No|          No|
|2008-12-03|  Albury|   12.9|   25.7|       0|         NA|      NA|        WSW|           46|         W|       WSW|          19|          26|         38|         30|     1007.6|     1008.7|      NA|       2|     21|   23.2|       No|          No|
|2008-12-04|  Albury|    9.2|     28|       0|         NA|      NA|         NE|           24|        SE|         E|          11|           9|         45|         16|     1017.6|     1012.8|      NA|      NA|   18.1|   26.5|       No|          No|
|2008-12-05|  Albury|   17.5|   32.3|       1|         NA|      NA|          W|           41|       ENE|        NW|           7|          20|         82|         33|     1010.8|       1006|       7|       8|   17.8|   29.7|       No|          No|
|2008-12-06|  Albury|   14.6|   29.7|     0.2|         NA|      NA|        WNW|           56|         W|         W|          19|          24|         55|         23|     1009.2|     1005.4|      NA|      NA|   20.6|   28.9|       No|          No|
|2008-12-07|  Albury|   14.3|     25|       0|         NA|      NA|          W|           50|        SW|         W|          20|          24|         49|         19|     1009.6|     1008.2|       1|      NA|   18.1|   24.6|       No|          No|
|2008-12-08|  Albury|    7.7|   26.7|       0|         NA|      NA|          W|           35|       SSE|         W|           6|          17|         48|         19|     1013.4|     1010.1|      NA|      NA|   16.3|   25.5|       No|          No|
|2008-12-09|  Albury|    9.7|   31.9|       0|         NA|      NA|        NNW|           80|        SE|        NW|           7|          28|         42|          9|     1008.9|     1003.6|      NA|      NA|   18.3|   30.2|       No|         Yes|
|2008-12-10|  Albury|   13.1|   30.1|     1.4|         NA|      NA|          W|           28|         S|       SSE|          15|          11|         58|         27|       1007|     1005.7|      NA|      NA|   20.1|   28.2|      Yes|          No|
|2008-12-11|  Albury|   13.4|   30.4|       0|         NA|      NA|          N|           30|       SSE|       ESE|          17|           6|         48|         22|     1011.8|     1008.7|      NA|      NA|   20.4|   28.8|       No|         Yes|
|2008-12-12|  Albury|   15.9|   21.7|     2.2|         NA|      NA|        NNE|           31|        NE|       ENE|          15|          13|         89|         91|     1010.5|     1004.2|       8|       8|   15.9|     17|      Yes|         Yes|
|2008-12-13|  Albury|   15.9|   18.6|    15.6|         NA|      NA|          W|           61|       NNW|       NNW|          28|          28|         76|         93|      994.3|        993|       8|       8|   17.4|   15.8|      Yes|         Yes|
|2008-12-14|  Albury|   12.6|     21|     3.6|         NA|      NA|         SW|           44|         W|       SSW|          24|          20|         65|         43|     1001.2|     1001.8|      NA|       7|   15.8|   19.8|      Yes|          No|
|2008-12-16|  Albury|    9.8|   27.7|      NA|         NA|      NA|        WNW|           50|        NA|       WNW|          NA|          22|         50|         28|     1013.4|     1010.3|       0|      NA|   17.3|   26.2|       NA|          No|
|2008-12-17|  Albury|   14.1|   20.9|       0|         NA|      NA|        ENE|           22|       SSW|         E|          11|           9|         69|         82|     1012.2|     1010.4|       8|       1|   17.2|   18.1|       No|         Yes|
|2008-12-18|  Albury|   13.5|   22.9|    16.8|         NA|      NA|          W|           63|         N|       WNW|           6|          20|         80|         65|     1005.8|     1002.2|       8|       1|     18|   21.5|      Yes|         Yes|
|2008-12-19|  Albury|   11.2|   22.5|    10.6|         NA|      NA|        SSE|           43|       WSW|        SW|          24|          17|         47|         32|     1009.4|     1009.7|      NA|       2|   15.5|     21|      Yes|          No|
|2008-12-20|  Albury|    9.8|   25.6|       0|         NA|      NA|        SSE|           26|        SE|       NNW|          17|           6|         45|         26|     1019.2|     1017.1|      NA|      NA|   15.8|   23.2|       No|          No|
|2008-12-21|  Albury|   11.5|   29.3|       0|         NA|      NA|          S|           24|        SE|        SE|           9|           9|         56|         28|     1019.3|     1014.8|      NA|      NA|   19.1|   27.3|       No|          No|
+----------+--------+-------+-------+--------+-----------+--------+-----------+-------------+----------+----------+------------+------------+-----------+-----------+-----------+-----------+--------+--------+-------+-------+---------+------------+
only showing top 20 rows

In [197]:
7# Display summary of the dataset
df_weather_na.describe().show()

+-------+----------+--------+------------------+------------------+-----------------+-----------------+------------------+-----------+------------------+----------+----------+-----------------+-----------------+------------------+------------------+------------------+------------------+------------------+-----------------+-----------------+------------------+---------+------------------+------------+
|summary|      Date|Location|           MinTemp|           MaxTemp|         Rainfall|      Evaporation|          Sunshine|WindGustDir|     WindGustSpeed|WindDir9am|WindDir3pm|     WindSpeed9am|     WindSpeed3pm|       Humidity9am|       Humidity3pm|       Pressure9am|       Pressure3pm|          Cloud9am|         Cloud3pm|          Temp9am|           Temp3pm|RainToday|           RISK_MM|RainTomorrow|
+-------+----------+--------+------------------+------------------+-----------------+-----------------+------------------+-----------+------------------+----------+----------+-----------------+-----------------+------------------+------------------+------------------+------------------+------------------+-----------------+-----------------+------------------+---------+------------------+------------+
|  count|    142193|  142193|            141556|            141871|           140787|            81350|             74377|     132863|            132923|    132180|    138415|           140845|           139563|            140419|            138583|            128179|            128212|             88536|            85099|           141289|            139467|   140787|            142193|      142193|
|   mean|      null|    null|12.186399729847201|23.226784188867104|2.349974075312399| 5.46982421533876| 7.624853114890268|       null| 39.98429165757619|      null|      null|  14.001988000994|18.63757586179718|  68.8438103105705|51.482606091656265|1017.6537584219649|1015.2582035026019| 4.437189391885787|4.503166899728551|16.98750858451776|21.687234972066364|     null|2.3606816097654058|        null|
| stddev|      null|    null| 6.403282675161533| 7.117618136628578|8.465172922382996|4.188536512082292|3.7815249951616057|       null|13.588800765487786|      null|      null|8.893337098234486|8.803345036235541|19.051292535336284|20.797771843698907| 7.105475600438319| 7.036676572368914|2.8870155257336068|2.720632530403662|6.492838324282417| 6.937593865997204|     null|  8.47796907430811|        null|
|    min|2007-11-01|Adelaide|              -8.5|              -4.8|              0.0|              0.0|               0.0|          E|               6.0|         E|         E|              0.0|              0.0|               0.0|               0.0|             980.5|             977.1|               0.0|              0.0|             -7.2|              -5.4|       No|               0.0|          No|
|    max|2017-06-25| Woomera|              33.9|              48.1|            371.0|            145.0|              14.5|        WSW|             135.0|       WSW|       WSW|            130.0|             87.0|             100.0|             100.0|            1041.0|            1039.6|               9.0|              9.0|             40.2|              46.7|      Yes|             371.0|         Yes|
+-------+----------+--------+------------------+------------------+-----------------+-----------------+------------------+-----------+------------------+----------+----------+-----------------+-----------------+------------------+------------------+------------------+------------------+------------------+-----------------+-----------------+------------------+---------+------------------+------------+

In [198]:
8# Display first five rows for categorical variables

# Get the names of all columns in the DataFrame
all_columns = df_weather.columns

# Get the names of string columns (columns not in numeric_columns)
categorical_variables= [col for col in all_columns if col not in continuous_variables]
df_weather.select(categorical_variables).show(5)

+----------+--------+-----------+----------+----------+---------+------------+
|      Date|Location|WindGustDir|WindDir9am|WindDir3pm|RainToday|RainTomorrow|
+----------+--------+-----------+----------+----------+---------+------------+
|2008-12-01|  Albury|          W|         W|       WNW|       No|          No|
|2008-12-02|  Albury|        WNW|       NNW|       WSW|       No|          No|
|2008-12-03|  Albury|        WSW|         W|       WSW|       No|          No|
|2008-12-04|  Albury|         NE|        SE|         E|       No|          No|
|2008-12-05|  Albury|          W|       ENE|        NW|       No|          No|
+----------+--------+-----------+----------+----------+---------+------------+
only showing top 5 rows

In [199]:
# 9.Decompose the date field into year, month, and day fields. Then drop the original date
# field.
from pyspark.sql.functions import year, month, dayofmonth
# Decompose date field into year, month, and day fields
df_weather = df_weather.withColumn("Year", year(df_weather["Date"]))
df_weather= df_weather.withColumn("Month", month(df_weather["Date"]))
df_weather= df_weather.withColumn("Day", dayofmonth(df_weather["Date"]))
df_weather_dd= df_weather.drop("Date")
df_weather_dd.show()

+--------+-------+-------+--------+-----------+--------+-----------+-------------+----------+----------+------------+------------+-----------+-----------+-----------+-----------+--------+--------+-------+-------+---------+------------+----+-----+---+
|Location|MinTemp|MaxTemp|Rainfall|Evaporation|Sunshine|WindGustDir|WindGustSpeed|WindDir9am|WindDir3pm|WindSpeed9am|WindSpeed3pm|Humidity9am|Humidity3pm|Pressure9am|Pressure3pm|Cloud9am|Cloud3pm|Temp9am|Temp3pm|RainToday|RainTomorrow|Year|Month|Day|
+--------+-------+-------+--------+-----------+--------+-----------+-------------+----------+----------+------------+------------+-----------+-----------+-----------+-----------+--------+--------+-------+-------+---------+------------+----+-----+---+
|  Albury|   13.4|   22.9|     0.6|         NA|      NA|          W|           44|         W|       WNW|          20|          24|         71|         22|     1007.7|     1007.1|       8|      NA|   16.9|   21.8|       No|          No|2008|   12|  1|
|  Albury|    7.4|   25.1|       0|         NA|      NA|        WNW|           44|       NNW|       WSW|           4|          22|         44|         25|     1010.6|     1007.8|      NA|      NA|   17.2|   24.3|       No|          No|2008|   12|  2|
|  Albury|   12.9|   25.7|       0|         NA|      NA|        WSW|           46|         W|       WSW|          19|          26|         38|         30|     1007.6|     1008.7|      NA|       2|     21|   23.2|       No|          No|2008|   12|  3|
|  Albury|    9.2|     28|       0|         NA|      NA|         NE|           24|        SE|         E|          11|           9|         45|         16|     1017.6|     1012.8|      NA|      NA|   18.1|   26.5|       No|          No|2008|   12|  4|
|  Albury|   17.5|   32.3|       1|         NA|      NA|          W|           41|       ENE|        NW|           7|          20|         82|         33|     1010.8|       1006|       7|       8|   17.8|   29.7|       No|          No|2008|   12|  5|
|  Albury|   14.6|   29.7|     0.2|         NA|      NA|        WNW|           56|         W|         W|          19|          24|         55|         23|     1009.2|     1005.4|      NA|      NA|   20.6|   28.9|       No|          No|2008|   12|  6|
|  Albury|   14.3|     25|       0|         NA|      NA|          W|           50|        SW|         W|          20|          24|         49|         19|     1009.6|     1008.2|       1|      NA|   18.1|   24.6|       No|          No|2008|   12|  7|
|  Albury|    7.7|   26.7|       0|         NA|      NA|          W|           35|       SSE|         W|           6|          17|         48|         19|     1013.4|     1010.1|      NA|      NA|   16.3|   25.5|       No|          No|2008|   12|  8|
|  Albury|    9.7|   31.9|       0|         NA|      NA|        NNW|           80|        SE|        NW|           7|          28|         42|          9|     1008.9|     1003.6|      NA|      NA|   18.3|   30.2|       No|         Yes|2008|   12|  9|
|  Albury|   13.1|   30.1|     1.4|         NA|      NA|          W|           28|         S|       SSE|          15|          11|         58|         27|       1007|     1005.7|      NA|      NA|   20.1|   28.2|      Yes|          No|2008|   12| 10|
|  Albury|   13.4|   30.4|       0|         NA|      NA|          N|           30|       SSE|       ESE|          17|           6|         48|         22|     1011.8|     1008.7|      NA|      NA|   20.4|   28.8|       No|         Yes|2008|   12| 11|
|  Albury|   15.9|   21.7|     2.2|         NA|      NA|        NNE|           31|        NE|       ENE|          15|          13|         89|         91|     1010.5|     1004.2|       8|       8|   15.9|     17|      Yes|         Yes|2008|   12| 12|
|  Albury|   15.9|   18.6|    15.6|         NA|      NA|          W|           61|       NNW|       NNW|          28|          28|         76|         93|      994.3|        993|       8|       8|   17.4|   15.8|      Yes|         Yes|2008|   12| 13|
|  Albury|   12.6|     21|     3.6|         NA|      NA|         SW|           44|         W|       SSW|          24|          20|         65|         43|     1001.2|     1001.8|      NA|       7|   15.8|   19.8|      Yes|          No|2008|   12| 14|
|  Albury|    9.8|   27.7|      NA|         NA|      NA|        WNW|           50|        NA|       WNW|          NA|          22|         50|         28|     1013.4|     1010.3|       0|      NA|   17.3|   26.2|       NA|          No|2008|   12| 16|
|  Albury|   14.1|   20.9|       0|         NA|      NA|        ENE|           22|       SSW|         E|          11|           9|         69|         82|     1012.2|     1010.4|       8|       1|   17.2|   18.1|       No|         Yes|2008|   12| 17|
|  Albury|   13.5|   22.9|    16.8|         NA|      NA|          W|           63|         N|       WNW|           6|          20|         80|         65|     1005.8|     1002.2|       8|       1|     18|   21.5|      Yes|         Yes|2008|   12| 18|
|  Albury|   11.2|   22.5|    10.6|         NA|      NA|        SSE|           43|       WSW|        SW|          24|          17|         47|         32|     1009.4|     1009.7|      NA|       2|   15.5|     21|      Yes|          No|2008|   12| 19|
|  Albury|    9.8|   25.6|       0|         NA|      NA|        SSE|           26|        SE|       NNW|          17|           6|         45|         26|     1019.2|     1017.1|      NA|      NA|   15.8|   23.2|       No|          No|2008|   12| 20|
|  Albury|   11.5|   29.3|       0|         NA|      NA|          S|           24|        SE|        SE|           9|           9|         56|         28|     1019.3|     1014.8|      NA|      NA|   19.1|   27.3|       No|          No|2008|   12| 21|
+--------+-------+-------+--------+-----------+--------+-----------+-------------+----------+----------+------------+------------+-----------+-----------+-----------+-----------+--------+--------+-------+-------+---------+------------+----+-----+---+
only showing top 20 rows

In [200]:
# 10. How many unique locations are there in the dataset
unique_locations_count = df_weather.select("Location").distinct().count()
print("Number of unique locations:", unique_locations_count)

Number of unique locations: 49

In [201]:
# 11. Print the number of times each unique location appears in the dataset.
location_counts = df_weather.groupBy("Location").count()
location_counts.show()

+-------------+-----+
|     Location|count|
+-------------+-----+
|       Cairns| 2988|
|NorfolkIsland| 2964|
|      Bendigo| 3034|
|      Walpole| 2819|
|     Canberra| 3418|
|      Woomera| 2990|
|     Adelaide| 3090|
|        Cobar| 2988|
|SydneyAirport| 3005|
| PerthAirport| 3009|
|   Wollongong| 2983|
|  Williamtown| 2553|
|        Moree| 2854|
|      Mildura| 3007|
|     Portland| 2996|
|       Albany| 3016|
|   SalmonGums| 2955|
|     Brisbane| 3161|
|       Sydney| 3337|
|        Perth| 3193|
+-------------+-----+
only showing top 20 rows

In [202]:
# 12. Perform One Hot Encoding for each categorical variable

from pyspark.ml.feature import StringIndexer, OneHotEncoder
from pyspark.ml.pipeline import Pipeline

# Filter out 'Date' column if not needed for encoding
string_columns_filtered = [col_name for col_name in categorical_variables if col_name != 'Date']
string_columns_filtered
# Initialize lists to store stages for the pipeline
indexers = []
encoders = []

# Perform One-Hot Encoding for each categorical variable excluding 'Date'
for col_name in string_columns_filtered:
    # StringIndexer for categorical variable
    indexer = StringIndexer(inputCol=col_name, outputCol=col_name + "_index")

    # OneHotEncoder for indexed categorical variable
    encoder = OneHotEncoder(inputCol=col_name + "_index", outputCol=col_name + "_encoded")

    # Add indexer and encoder to respective lists
    indexers.append(indexer)
    encoders.append(encoder)

# Create a pipeline with all indexers and encoders
pipeline = Pipeline(stages=indexers + encoders)

# Fit and transform the pipeline on the DataFrame
df_weather_encoded = pipeline.fit(df_weather_dd).transform(df_weather_dd)#dd

# Display the DataFrame with One-Hot Encoded columns
df_weather_encoded.show(5)

+--------+-------+-------+--------+-----------+--------+-----------+-------------+----------+----------+------------+------------+-----------+-----------+-----------+-----------+--------+--------+-------+-------+---------+------------+----+-----+---+--------------+-----------------+----------------+----------------+---------------+------------------+----------------+-------------------+------------------+------------------+-----------------+--------------------+
|Location|MinTemp|MaxTemp|Rainfall|Evaporation|Sunshine|WindGustDir|WindGustSpeed|WindDir9am|WindDir3pm|WindSpeed9am|WindSpeed3pm|Humidity9am|Humidity3pm|Pressure9am|Pressure3pm|Cloud9am|Cloud3pm|Temp9am|Temp3pm|RainToday|RainTomorrow|Year|Month|Day|Location_index|WindGustDir_index|WindDir9am_index|WindDir3pm_index|RainToday_index|RainTomorrow_index|Location_encoded|WindGustDir_encoded|WindDir9am_encoded|WindDir3pm_encoded|RainToday_encoded|RainTomorrow_encoded|
+--------+-------+-------+--------+-----------+--------+-----------+-------------+----------+----------+------------+------------+-----------+-----------+-----------+-----------+--------+--------+-------+-------+---------+------------+----+-----+---+--------------+-----------------+----------------+----------------+---------------+------------------+----------------+-------------------+------------------+------------------+-----------------+--------------------+
|  Albury|   13.4|   22.9|     0.6|         NA|      NA|          W|           44|         W|       WNW|          20|          24|         71|         22|     1007.7|     1007.1|       8|      NA|   16.9|   21.8|       No|          No|2008|   12|  1|          14.0|              0.0|             7.0|             7.0|            0.0|               0.0| (48,[14],[1.0])|     (16,[0],[1.0])|    (16,[7],[1.0])|    (16,[7],[1.0])|    (2,[0],[1.0])|       (1,[0],[1.0])|
|  Albury|    7.4|   25.1|       0|         NA|      NA|        WNW|           44|       NNW|       WSW|           4|          22|         44|         25|     1010.6|     1007.8|      NA|      NA|   17.2|   24.3|       No|          No|2008|   12|  2|          14.0|             10.0|            10.0|             3.0|            0.0|               0.0| (48,[14],[1.0])|    (16,[10],[1.0])|   (16,[10],[1.0])|    (16,[3],[1.0])|    (2,[0],[1.0])|       (1,[0],[1.0])|
|  Albury|   12.9|   25.7|       0|         NA|      NA|        WSW|           46|         W|       WSW|          19|          26|         38|         30|     1007.6|     1008.7|      NA|       2|     21|   23.2|       No|          No|2008|   12|  3|          14.0|              7.0|             7.0|             3.0|            0.0|               0.0| (48,[14],[1.0])|     (16,[7],[1.0])|    (16,[7],[1.0])|    (16,[3],[1.0])|    (2,[0],[1.0])|       (1,[0],[1.0])|
|  Albury|    9.2|     28|       0|         NA|      NA|         NE|           24|        SE|         E|          11|           9|         45|         16|     1017.6|     1012.8|      NA|      NA|   18.1|   26.5|       No|          No|2008|   12|  4|          14.0|             14.0|             2.0|            10.0|            0.0|               0.0| (48,[14],[1.0])|    (16,[14],[1.0])|    (16,[2],[1.0])|   (16,[10],[1.0])|    (2,[0],[1.0])|       (1,[0],[1.0])|
|  Albury|   17.5|   32.3|       1|         NA|      NA|          W|           41|       ENE|        NW|           7|          20|         82|         33|     1010.8|       1006|       7|       8|   17.8|   29.7|       No|          No|2008|   12|  5|          14.0|              0.0|            11.0|             8.0|            0.0|               0.0| (48,[14],[1.0])|     (16,[0],[1.0])|   (16,[11],[1.0])|    (16,[8],[1.0])|    (2,[0],[1.0])|       (1,[0],[1.0])|
+--------+-------+-------+--------+-----------+--------+-----------+-------------+----------+----------+------------+------------+-----------+-----------+-----------+-----------+--------+--------+-------+-------+---------+------------+----+-----+---+--------------+-----------------+----------------+----------------+---------------+------------------+----------------+-------------------+------------------+------------------+-----------------+--------------------+
only showing top 5 rows

In [203]:
# 13. The RainTomorrow is the label, and all other fields are features

from pyspark.sql.functions import lit

# Create a dummy 'Date' column with a constant value to include in the DataFrame
df_weather_dd= df_weather_dd.withColumn("Date", lit("2024-03-11"))
# Convert string columns to numeric using StringIndexer
indexers = [StringIndexer(inputCol=col, outputCol=col+"_index").fit(df_weather_dd) for col in categorical_variables]
df_indexed = df_weather_dd
for indexer in indexers:
    df_indexed = indexer.transform(df_indexed)

# Define the features (excluding 'RainTomorrow' and any other non-feature columns)
feature_columns = [col + "_index" for col in categorical_variables if col != 'RainTomorrow']

# Assemble the features into a single feature vector
assembler = VectorAssembler(inputCols=feature_columns, outputCol="features")

# Transform the DataFrame to include the feature vector
df_features = assembler.transform(df_indexed)

# Select only the 'features' and 'RainTomorrow' columns for model training
df_model = df_features.select("features", "RainTomorrow")

# Display the DataFrame with features and label
df_model.show(20, truncate=False)

+-----------------------------+------------+
|features                     |RainTomorrow|
+-----------------------------+------------+
|[0.0,14.0,0.0,7.0,7.0,0.0]   |No          |
|[0.0,14.0,10.0,10.0,3.0,0.0] |No          |
|[0.0,14.0,7.0,7.0,3.0,0.0]   |No          |
|[0.0,14.0,14.0,2.0,10.0,0.0] |No          |
|[0.0,14.0,0.0,11.0,8.0,0.0]  |No          |
|[0.0,14.0,10.0,7.0,1.0,0.0]  |No          |
|[0.0,14.0,0.0,8.0,1.0,0.0]   |No          |
|[0.0,14.0,0.0,4.0,1.0,0.0]   |No          |
|[0.0,14.0,15.0,2.0,8.0,0.0]  |Yes         |
|[0.0,14.0,0.0,6.0,5.0,1.0]   |No          |
|[0.0,14.0,4.0,4.0,9.0,0.0]   |Yes         |
|[0.0,14.0,16.0,13.0,14.0,1.0]|Yes         |
|[0.0,14.0,0.0,10.0,13.0,1.0] |Yes         |
|[0.0,14.0,8.0,7.0,12.0,1.0]  |No          |
|[0.0,14.0,10.0,1.0,7.0,2.0]  |No          |
|[0.0,14.0,12.0,14.0,10.0,0.0]|Yes         |
|[0.0,14.0,0.0,0.0,7.0,1.0]   |Yes         |
|[0.0,14.0,5.0,16.0,4.0,1.0]  |No          |
|[0.0,14.0,5.0,2.0,13.0,0.0]  |No          |
|[0.0,14.0,6.0,2.0,0.0,0.0]   |No          |
+-----------------------------+------------+
only showing top 20 rows

In [204]:
# 14 You may use the median value (median imputation) of each field to fill null values if it is a numerical column. Use the most frequent value in case of a categorical column
from pyspark.sql.functions import col
from pyspark.ml.feature import Imputer

# Define numerical columns and categorical variables based on your DataFrame structure
numerical_columns = ['MinTemp', 'MaxTemp', 'Rainfall', 'Evaporation', 'Sunshine', 'WindGustSpeed', 'WindSpeed9am', 'WindSpeed3pm',
                   'Humidity9am', 'Humidity3pm', 'Pressure9am', 'Pressure3pm', 'Cloud9am', 'Cloud3pm', 'Temp9am', 'Temp3pm']  # Define your numerical columns here
categorical_variables = ['Location', 'WindGustDir', 'WindDir9am', 'WindDir3pm', 'RainToday', 'RainTomorrow']  # Define your categorical variables here

# Convert numerical columns to numerical type
for col_name in numerical_columns:
    df_weather_dd = df_weather_dd.withColumn(col_name, col(col_name).cast('double'))

# Impute missing values with median for numerical columns
imputer = Imputer(strategy='median', inputCols=numerical_columns, outputCols=[col + "_imputed" for col in numerical_columns])
df_imputed = imputer.fit(df_weather_dd).transform(df_weather_dd)

# Define a function to impute missing values with most frequent value for categorical columns
def fill_missing_with_mode(df_weather_dd, column):
    mode_value = df_weather_dd.select(column).groupBy(column).count().orderBy(col("count").desc()).first()[column]
    return df_weather_dd.withColumn(column + "_imputed", when(col(column).isNull(), mode_value).otherwise(col(column)))

# Impute missing values with mode for categorical columns
for col_name in categorical_variables:
    df_imputed = fill_missing_with_mode(df_imputed, col_name)

# Select only the imputed columns and 'RainTomorrow' for model training
imputed_columns = [col + "_imputed" for col in numerical_columns] + [col + "_imputed" for col in categorical_variables]
df_final = df_imputed.select(imputed_columns + ["RainTomorrow"])

# Display the DataFrame with imputed values
df_final.show(20, truncate=False)

+---------------+---------------+----------------+-------------------+----------------+---------------------+--------------------+--------------------+-------------------+-------------------+-------------------+-------------------+----------------+----------------+---------------+---------------+----------------+-------------------+------------------+------------------+-----------------+--------------------+------------+
|MinTemp_imputed|MaxTemp_imputed|Rainfall_imputed|Evaporation_imputed|Sunshine_imputed|WindGustSpeed_imputed|WindSpeed9am_imputed|WindSpeed3pm_imputed|Humidity9am_imputed|Humidity3pm_imputed|Pressure9am_imputed|Pressure3pm_imputed|Cloud9am_imputed|Cloud3pm_imputed|Temp9am_imputed|Temp3pm_imputed|Location_imputed|WindGustDir_imputed|WindDir9am_imputed|WindDir3pm_imputed|RainToday_imputed|RainTomorrow_imputed|RainTomorrow|
+---------------+---------------+----------------+-------------------+----------------+---------------------+--------------------+--------------------+-------------------+-------------------+-------------------+-------------------+----------------+----------------+---------------+---------------+----------------+-------------------+------------------+------------------+-----------------+--------------------+------------+
|13.4           |22.9           |0.6             |4.8                |8.5             |44.0                 |20.0                |24.0                |71.0               |22.0               |1007.7             |1007.1             |8.0             |5.0             |16.9           |21.8           |Albury          |W                  |W                 |WNW               |No               |No                  |No          |
|7.4            |25.1           |0.0             |4.8                |8.5             |44.0                 |4.0                 |22.0                |44.0               |25.0               |1010.6             |1007.8             |5.0             |5.0             |17.2           |24.3           |Albury          |WNW                |NNW               |WSW               |No               |No                  |No          |
|12.9           |25.7           |0.0             |4.8                |8.5             |46.0                 |19.0                |26.0                |38.0               |30.0               |1007.6             |1008.7             |5.0             |2.0             |21.0           |23.2           |Albury          |WSW                |W                 |WSW               |No               |No                  |No          |
|9.2            |28.0           |0.0             |4.8                |8.5             |24.0                 |11.0                |9.0                 |45.0               |16.0               |1017.6             |1012.8             |5.0             |5.0             |18.1           |26.5           |Albury          |NE                 |SE                |E                 |No               |No                  |No          |
|17.5           |32.3           |1.0             |4.8                |8.5             |41.0                 |7.0                 |20.0                |82.0               |33.0               |1010.8             |1006.0             |7.0             |8.0             |17.8           |29.7           |Albury          |W                  |ENE               |NW                |No               |No                  |No          |
|14.6           |29.7           |0.2             |4.8                |8.5             |56.0                 |19.0                |24.0                |55.0               |23.0               |1009.2             |1005.4             |5.0             |5.0             |20.6           |28.9           |Albury          |WNW                |W                 |W                 |No               |No                  |No          |
|14.3           |25.0           |0.0             |4.8                |8.5             |50.0                 |20.0                |24.0                |49.0               |19.0               |1009.6             |1008.2             |1.0             |5.0             |18.1           |24.6           |Albury          |W                  |SW                |W                 |No               |No                  |No          |
|7.7            |26.7           |0.0             |4.8                |8.5             |35.0                 |6.0                 |17.0                |48.0               |19.0               |1013.4             |1010.1             |5.0             |5.0             |16.3           |25.5           |Albury          |W                  |SSE               |W                 |No               |No                  |No          |
|9.7            |31.9           |0.0             |4.8                |8.5             |80.0                 |7.0                 |28.0                |42.0               |9.0                |1008.9             |1003.6             |5.0             |5.0             |18.3           |30.2           |Albury          |NNW                |SE                |NW                |No               |Yes                 |Yes         |
|13.1           |30.1           |1.4             |4.8                |8.5             |28.0                 |15.0                |11.0                |58.0               |27.0               |1007.0             |1005.7             |5.0             |5.0             |20.1           |28.2           |Albury          |W                  |S                 |SSE               |Yes              |No                  |No          |
|13.4           |30.4           |0.0             |4.8                |8.5             |30.0                 |17.0                |6.0                 |48.0               |22.0               |1011.8             |1008.7             |5.0             |5.0             |20.4           |28.8           |Albury          |N                  |SSE               |ESE               |No               |Yes                 |Yes         |
|15.9           |21.7           |2.2             |4.8                |8.5             |31.0                 |15.0                |13.0                |89.0               |91.0               |1010.5             |1004.2             |8.0             |8.0             |15.9           |17.0           |Albury          |NNE                |NE                |ENE               |Yes              |Yes                 |Yes         |
|15.9           |18.6           |15.6            |4.8                |8.5             |61.0                 |28.0                |28.0                |76.0               |93.0               |994.3              |993.0              |8.0             |8.0             |17.4           |15.8           |Albury          |W                  |NNW               |NNW               |Yes              |Yes                 |Yes         |
|12.6           |21.0           |3.6             |4.8                |8.5             |44.0                 |24.0                |20.0                |65.0               |43.0               |1001.2             |1001.8             |5.0             |7.0             |15.8           |19.8           |Albury          |SW                 |W                 |SSW               |Yes              |No                  |No          |
|9.8            |27.7           |0.0             |4.8                |8.5             |50.0                 |13.0                |22.0                |50.0               |28.0               |1013.4             |1010.3             |0.0             |5.0             |17.3           |26.2           |Albury          |WNW                |NA                |WNW               |NA               |No                  |No          |
|14.1           |20.9           |0.0             |4.8                |8.5             |22.0                 |11.0                |9.0                 |69.0               |82.0               |1012.2             |1010.4             |8.0             |1.0             |17.2           |18.1           |Albury          |ENE                |SSW               |E                 |No               |Yes                 |Yes         |
|13.5           |22.9           |16.8            |4.8                |8.5             |63.0                 |6.0                 |20.0                |80.0               |65.0               |1005.8             |1002.2             |8.0             |1.0             |18.0           |21.5           |Albury          |W                  |N                 |WNW               |Yes              |Yes                 |Yes         |
|11.2           |22.5           |10.6            |4.8                |8.5             |43.0                 |24.0                |17.0                |47.0               |32.0               |1009.4             |1009.7             |5.0             |2.0             |15.5           |21.0           |Albury          |SSE                |WSW               |SW                |Yes              |No                  |No          |
|9.8            |25.6           |0.0             |4.8                |8.5             |26.0                 |17.0                |6.0                 |45.0               |26.0               |1019.2             |1017.1             |5.0             |5.0             |15.8           |23.2           |Albury          |SSE                |SE                |NNW               |No               |No                  |No          |
|11.5           |29.3           |0.0             |4.8                |8.5             |24.0                 |9.0                 |9.0                 |56.0               |28.0               |1019.3             |1014.8             |5.0             |5.0             |19.1           |27.3           |Albury          |S                  |SE                |SE                |No               |No                  |No          |
+---------------+---------------+----------------+-------------------+----------------+---------------------+--------------------+--------------------+-------------------+-------------------+-------------------+-------------------+----------------+----------------+---------------+---------------+----------------+-------------------+------------------+------------------+-----------------+--------------------+------------+
only showing top 20 rows

In [205]:
 # 15. Normalize each numerical column (bring it to a value between 0 and 1)
from pyspark.ml.feature import MinMaxScaler
from pyspark.ml.feature import VectorAssembler

# Assemble all imputed numerical columns into a single feature vector
assembler = VectorAssembler(inputCols=[col + "_imputed" for col in numerical_columns], outputCol="numerical_features")
df_assembled = assembler.transform(df_final)

# Initialize MinMaxScaler to normalize each numerical column
scaler = MinMaxScaler(inputCol="numerical_features", outputCol="scaled_numerical_features")

# Compute summary statistics and generate the scaler model
scaler_model = scaler.fit(df_assembled)

# Normalize each numerical column to a value between 0 and 1
df_normalized = scaler_model.transform(df_assembled)

# Display the DataFrame with normalized numerical columns
df_normalized.show(5, truncate=False)

+---------------+---------------+----------------+-------------------+----------------+---------------------+--------------------+--------------------+-------------------+-------------------+-------------------+-------------------+----------------+----------------+---------------+---------------+----------------+-------------------+------------------+------------------+-----------------+--------------------+------------+--------------------------------------------------------------------------------+-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|MinTemp_imputed|MaxTemp_imputed|Rainfall_imputed|Evaporation_imputed|Sunshine_imputed|WindGustSpeed_imputed|WindSpeed9am_imputed|WindSpeed3pm_imputed|Humidity9am_imputed|Humidity3pm_imputed|Pressure9am_imputed|Pressure3pm_imputed|Cloud9am_imputed|Cloud3pm_imputed|Temp9am_imputed|Temp3pm_imputed|Location_imputed|WindGustDir_imputed|WindDir9am_imputed|WindDir3pm_imputed|RainToday_imputed|RainTomorrow_imputed|RainTomorrow|numerical_features                                                              |scaled_numerical_features                                                                                                                                                                                                                                                                              |
+---------------+---------------+----------------+-------------------+----------------+---------------------+--------------------+--------------------+-------------------+-------------------+-------------------+-------------------+----------------+----------------+---------------+---------------+----------------+-------------------+------------------+------------------+-----------------+--------------------+------------+--------------------------------------------------------------------------------+-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|13.4           |22.9           |0.6             |4.8                |8.5             |44.0                 |20.0                |24.0                |71.0               |22.0               |1007.7             |1007.1             |8.0             |5.0             |16.9           |21.8           |Albury          |W                  |W                 |WNW               |No               |No                  |No          |[13.4,22.9,0.6,4.8,8.5,44.0,20.0,24.0,71.0,22.0,1007.7,1007.1,8.0,5.0,16.9,21.8]|[0.5165094339622641,0.5236294896030246,0.0016172506738544475,0.03310344827586207,0.5862068965517241,0.2945736434108527,0.15384615384615385,0.27586206896551724,0.71,0.22,0.4495867768595049,0.48000000000000087,0.8888888888888888,0.5555555555555556,0.5084388185654007,0.5220729366602688]           |
|7.4            |25.1           |0.0             |4.8                |8.5             |44.0                 |4.0                 |22.0                |44.0               |25.0               |1010.6             |1007.8             |5.0             |5.0             |17.2           |24.3           |Albury          |WNW                |NNW               |WSW               |No               |No                  |No          |[7.4,25.1,0.0,4.8,8.5,44.0,4.0,22.0,44.0,25.0,1010.6,1007.8,5.0,5.0,17.2,24.3]  |[0.37500000000000006,0.5652173913043479,0.0,0.03310344827586207,0.5862068965517241,0.2945736434108527,0.03076923076923077,0.25287356321839083,0.44,0.25,0.4975206611570252,0.49119999999999975,0.5555555555555556,0.5555555555555556,0.5147679324894514,0.5700575815738964]                            |
|12.9           |25.7           |0.0             |4.8                |8.5             |46.0                 |19.0                |26.0                |38.0               |30.0               |1007.6             |1008.7             |5.0             |2.0             |21.0           |23.2           |Albury          |WSW                |W                 |WSW               |No               |No                  |No          |[12.9,25.7,0.0,4.8,8.5,46.0,19.0,26.0,38.0,30.0,1007.6,1008.7,5.0,2.0,21.0,23.2]|[0.5047169811320755,0.5765595463137996,0.0,0.03310344827586207,0.5862068965517241,0.31007751937984496,0.14615384615384616,0.29885057471264365,0.38,0.3,0.44793388429752107,0.5056000000000013,0.5555555555555556,0.2222222222222222,0.5949367088607594,0.5489443378119002]                             |
|9.2            |28.0           |0.0             |4.8                |8.5             |24.0                 |11.0                |9.0                 |45.0               |16.0               |1017.6             |1012.8             |5.0             |5.0             |18.1           |26.5           |Albury          |NE                 |SE                |E                 |No               |No                  |No          |[9.2,28.0,0.0,4.8,8.5,24.0,11.0,9.0,45.0,16.0,1017.6,1012.8,5.0,5.0,18.1,26.5]  |[0.41745283018867924,0.6200378071833648,0.0,0.03310344827586207,0.5862068965517241,0.13953488372093023,0.08461538461538462,0.10344827586206896,0.45,0.16,0.6132231404958681,0.5711999999999999,0.5555555555555556,0.5555555555555556,0.5337552742616034,0.6122840690978886]                            |
|17.5           |32.3           |1.0             |4.8                |8.5             |41.0                 |7.0                 |20.0                |82.0               |33.0               |1010.8             |1006.0             |7.0             |8.0             |17.8           |29.7           |Albury          |W                  |ENE               |NW                |No               |No                  |No          |[17.5,32.3,1.0,4.8,8.5,41.0,7.0,20.0,82.0,33.0,1010.8,1006.0,7.0,8.0,17.8,29.7] |[0.6132075471698114,0.7013232514177693,0.0026954177897574125,0.03310344827586207,0.5862068965517241,0.2713178294573643,0.05384615384615385,0.22988505747126436,0.8200000000000001,0.33,0.500826446280991,0.4624000000000004,0.7777777777777777,0.8888888888888888,0.5274261603375527,0.673704414587332]|
+---------------+---------------+----------------+-------------------+----------------+---------------------+--------------------+--------------------+-------------------+-------------------+-------------------+-------------------+----------------+----------------+---------------+---------------+----------------+-------------------+------------------+------------------+-----------------+--------------------+------------+--------------------------------------------------------------------------------+-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
only showing top 5 rows

In [206]:
# 16. Train your Logistic Regression model on the training dataset (70% 30% split)
# Split the dataset into training and test sets
from pyspark.ml.evaluation import BinaryClassificationEvaluator

# Split the data into training and test sets (70% - 30%)
train_data, test_data = df_normalized.randomSplit([0.7, 0.3], seed=42)

# Convert the target variable 'RainTomorrow' to a numeric format
indexer = StringIndexer(inputCol='RainTomorrow', outputCol='label')
train_data_indexed = indexer.fit(train_data).transform(train_data)

# Initialize Logistic Regression model
lr = LogisticRegression(featuresCol='scaled_numerical_features', labelCol='label')

# Create a Pipeline with the Logistic Regression model
pipeline = Pipeline(stages=[lr])

# Train the Logistic Regression model on the training dataset
model = pipeline.fit(train_data_indexed)

# Make predictions on the test set
test_data_indexed = indexer.fit(test_data).transform(test_data)
predictions = model.transform(test_data_indexed)

# Evaluate the model using BinaryClassificationEvaluator
evaluator = BinaryClassificationEvaluator(labelCol='label')
auc = evaluator.evaluate(predictions)

# Display the Area Under ROC for the model
print("Area Under ROC: ", auc)

Area Under ROC:  0.8624691198798907

In [207]:
# 17. Predict RainTomorrow for test set
# Make predictions on the test set using the trained model
predictions_test = model.transform(test_data_indexed)

# Display predictions for RainTomorrow in the test set
predictions_test.select("RainTomorrow", "prediction").show(10)

+------------+----------+
|RainTomorrow|prediction|
+------------+----------+
|          No|       0.0|
|          No|       1.0|
|          No|       1.0|
|          No|       0.0|
|         Yes|       1.0|
|          No|       1.0|
|          No|       0.0|
|          No|       0.0|
|          No|       0.0|
|          No|       0.0|
+------------+----------+
only showing top 10 rows

In [209]:
# 18 Describe the performance of your model using the confusion matrix and print TP, TN,FP, and FN. In addition, provide the accuracy and F1 score of your model
from pyspark.mllib.evaluation import MulticlassMetrics

# Convert predictions to RDD
prediction_and_label = predictions_test.select("prediction", "label").rdd

# Instantiate metrics object
metrics = MulticlassMetrics(prediction_and_label)

# Calculate confusion matrix
confusion_matrix = metrics.confusionMatrix().toArray()

# Extract TP, TN, FP, FN from confusion matrix
TP = confusion_matrix[1, 1]
TN = confusion_matrix[0, 0]
FP = confusion_matrix[0, 1]
FN = confusion_matrix[1, 0]

# Calculate accuracy
accuracy = metrics.accuracy

# Calculate F1 score
f1_score = metrics.fMeasure(1.0)

# Display TP, TN, FP, FN, accuracy, and F1 score
print("True Positives (TP):", TP)
print("True Negatives (TN):", TN)
print("False Positives (FP):", FP)
print("False Negatives (FN):", FN)
print("Accuracy:", accuracy)
print("F1 Score:", f1_score)

True Positives (TP): 4585.0
True Negatives (TN): 31291.0
False Positives (FP): 1806.0
False Negatives (FN): 4923.0
Accuracy: 0.8420607909869734
F1 Score: 0.576765834329203

In [177]:
# Stop SparkSession
spark.stop()